<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net451" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="System.Data.SQLite" version="1.0.106.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net451" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net451" />
  <package id="System.Data.SQLite.x86" version="1.0.106.0" targetFramework="net451" />
  <package id="Toolkit.Charting" version="1.0.5755.26422" targetFramework="net451" />
  <package id="Toolkit.CodeBase" version="1.0.5755.26406" targetFramework="net451" />
  <package id="Toolkit.CommonResources" version="1.0.5752.28158" targetFramework="net451" />
  <package id="Toolkit.Data" version="1.0.5755.26407" targetFramework="net451" />
  <package id="Toolkit.Drawing" version="1.0.5755.26408" targetFramework="net451" />
  <package id="Toolkit.Runtime" version="1.0.5755.26410" targetFramework="net451" />
  <package id="Toolkit.Scripting" version="1.0.5755.26411" targetFramework="net451" />
  <package id="WpfAnimatedGif" version="1.4.17" targetFramework="net451" />
</packages>